*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.companyheader {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 10px;
}

.companyheader #logo {
  float: left;
}

.companyheader ul {
  display: flex;
  font-size: 14pt;
  font-weight: 700;
  margin: 0;
  padding: 0 20px;
}

.companyheader li {
  line-height: 48px;
  list-style: none;
  text-transform: lowercase;
}

h2{
  padding-top: 20px;
}

main {
  clear: both;
  padding: 20px;
}

.project {
  box-shadow: 5px 5px 10px #888888;
  text-align: center;
}

.project:hover,
.project:focus  {
  box-shadow: 10px 10px 30px #888888;
  background-color: #eeeeee;
  transform: scaleX(1.01) scaleY(1.01);
}

.project-name {
  font-style: italic;
}

.project-desc {
  padding: 0px 10px;
}

.project-links p {
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.project-links a {
  padding: 5px 10px;
  margin: 5px 10px;
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.project-links a:hover,
.project-links a:focus {
  background-color: #666666;
}

#suggestions {
  margin-top: 5px;
  color: #ccc;
  text-align: center;
  margin-bottom: 15px;
}

#suggestions a {
  color: #666666;
  font-size: 14px;
  margin: 0px;
}

footer {
  padding: 20px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

footer  {
  text-align: right;
}

.button img {
  background-color: white;
}

.button :hover,
.button :focus {
  background-color: gray;
}